<div layout="column" ng-controller="PeopleController as vm">
    <div class="md-primary">
        <div layout="row" layout-sm="column" layout-align="center center" ng-if="!vm.isReady">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-content ng-if="vm.isReady">
            <md-subheader class="md-primary" layout-fill>
                <div layout="row">
                    <md-input-container class="md-block" flex="80">                    
                        <md-icon md-svg-src="img/baseline-filter_list-24px.svg" class="name"></md-icon>
                        <input ng-model="vm.filter.text" type="text" placeholder="search">
                    </md-input-container>
                    <md-input-container style="margin-right: 10px;" flex="20">
                        <label>Order by</label>
                        <md-select ng-model="vm.order">
                            <md-option ng-repeat="orderBy in vm.orderByOptions" ng-value="{{orderBy}}">{{orderBy.description}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-subheader>
            <md-grid-list md-cols="4" md-gutter="1em" md-row-height="4:3" >
                <md-grid-tile ng-repeat="person in vm.people.results | filter:vm.filter.text | orderBy:vm.order.field " >
                        <md-card layout-padding layout-fill>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{person.name}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>Gender: {{person.gender}}</p>
                                <p>Birth year: {{person.birth_year}}</p>
                                <p>Planet: {{vm.getPlanet(person.homeworld)}}</p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary" ui-sref="detail({ person: person })">More Info</md-button>
                            </md-card-actions>
                        </md-card>   
                </md-grid-tile>
            </md-grid-list>

            <div layout="row" layout-sm="column" layout-align="center center" layout-wrap layout-margin ng-if="vm.people.next">
                <md-button class="md-raised md-primary" ng-click="vm.loadMore()" ng-if="!vm.loadingMore">Load More</md-button>
                <md-progress-circular md-mode="indeterminate" ng-if="vm.loadingMore"></md-progress-circular>
            </div>
        </md-content>
    </div>
</div>