<div layout="column" layout-padding ng-cloak flex-offset="30" flex="40" ng-controller="PersonController as vm">
    <md-content>

        <md-card layout-padding layout-margin layout-fill id="top">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{vm.person.name}}</span>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <md-card layout-fill>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Information</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <label>Gender</label>
                    <md-icon md-svg-src="img/baseline-supervisor_account-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.name" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Birth year</label>
                    <md-icon md-svg-src="img/baseline-cake-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.birth_year" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Planet</label>
                    <md-icon md-svg-src="img/baseline-place-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.birth_year" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Eye Color</label>
                    <md-icon md-svg-src="img/baseline-remove_red_eye-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.eye_color" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Hair Color</label>
                    <md-icon md-svg-src="img/baseline-face-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.hair_color" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Height</label>
                    <md-icon md-svg-src="img/baseline-accessibility_new-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.height" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Mass</label>
                    <md-icon md-svg-src="img/baseline-straighten-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.mass" type="text" disabled>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Skin Color</label>
                    <md-icon md-svg-src="img/baseline-all_inclusive-24px.svg" class="Gender"></md-icon>
                    <input ng-value="vm.person.skin_color" type="text" disabled>
                </md-input-container>
            </md-card-content>
        </md-card>

        <md-card layout-fill>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">People who live in the Planet</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-chips ng-model="vm.residents" md-removable="false" ng-if="vm.peopleFromPlanetReady">
                    <md-chip-template>
                        <span ng-click="vm.personClick($chip)">
                            <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>

                <div layout="row" layout-sm="column" layout-align="center center" ng-if="!vm.peopleFromPlanetReady">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>